@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@100;300;400;500;700&display=swap');

@import url('https://fonts.googleapis.com/css2?family=Cormorant+Garamond:ital,wght@0,300;0,400;1,300;1,400&display=swap');

* {
    margin: 0;
    padding: 0;
}

:root {
    --fg-color: #8a8989;
}

.dark {
    background-color: #2e2b2b;
}

.socials {
    display: flex;
    align-items: center;

    margin: 24px;
}

.socials span {
    font-family: "Roboto", sans-serif;
    letter-spacing: 0.1em;
    padding-right: 14px;
    color: var(--fg-color);
}

.socials div {
    display: inline-block;
    width: 50px;
    height: 1px;
    background-color: var(--fg-color);
}

main {
    margin: 22px;
    padding: 20px 20px 0;
}

main div {
    margin-bottom: 30px;
}

h3, p {
    color: var(--fg-color);
    font-family: "Roboto", sans-serif;
    letter-spacing: 0.02em;
    line-height: 1.4em;
}

h3 {
    text-transform: uppercase;
    margin-bottom: 18px;
}

p {
    margin-bottom: 14px;
}

li {
    list-style: none;
}

a {
    color: var(--fg-color);
    font-family: "Cormorant Garamond", serif;
    font-size: 64px;
    font-weight: 300;
    text-transform: uppercase;
}
