@media (min-width: 1000px) {
    main {
        display: flex;
        justify-content: space-between;

        position: absolute;
        left: 140px;

        top: 50%;
        transform: translateY(-50%);
    }

    main .description {
        align-self: flex-end;
        flex-basis: 300px;
        margin-bottom: 25px;
    }

    main a {
        font-size: 112px;
    }
}
